@import url("https://fonts.googleapis.com/css2?family=Jost&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Unbounded&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Display&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: "Playfair Display SC", serif;
  font-weight: normal;
}

body {
  font-family: "Playfair Display", serif;
  height: 100vh;
  font-size: 16px;
  background-color: #F0DFF6;
  color: #392D32;
  background: linear-gradient(135deg, #fdfcfb 0%, #e2d1c3 100%);
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-y: scroll;
  overflow-x: hidden;
}
body a {
  color: #392D32;
  text-decoration: none;
  transition: 0.25s;
}
body a:hover {
  color: rgb(240, 113, 103);
}

nav {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  background-color: #392D32;
  color: #ffffff;
  display: grid;
  grid-template-columns: 3rem 1fr 5rem 7rem;
  align-items: center;
  justify-items: center;
  position: sticky;
  top: 0;
  z-index: 100;
}
nav a {
  color: #ffffff;
  text-decoration: none;
}
nav .ovalborder {
  padding: 0px 1rem;
  border: solid 2px;
  border-radius: 1rem;
}

.navlogo {
  justify-self: center;
}
@media only screen and (max-width: 600px) {
  .navlogo {
    visibility: hidden;
  }
}

footer {
  width: 100%;
  height: 3rem;
  padding: 0.5rem;
  background-color: #67515A;
  color: #ffffff;
  font-size: 0.8rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-items: center;
  z-index: 100;
}
footer a {
  color: #ffffff;
  text-decoration: none;
}

main {
  max-width: 100%;
  margin: auto;
  overflow-x: hidden;
  position: relative;
}

.titlediv {
  height: 15rem;
  border-radius: 1rem;
  margin: 0.5rem;
  margin-top: 1rem;
  color: #392D32;
  display: grid;
  align-items: center;
  justify-items: center;
  text-align: center;
}

.cardbox {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.cardbox .card, .cardbox .card_danger, .cardbox .widecard {
  background-color: rgba(255, 255, 255, 0.25);
  border-radius: 1rem;
  padding: 1rem;
  margin: 0.5rem;
  width: 25rem;
  min-height: 20rem;
  overflow-y: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cardbox .card .cardtitle, .cardbox .card_danger .cardtitle, .cardbox .widecard .cardtitle, .cardbox .card .area_actions, .cardbox .card_danger .area_actions, .cardbox .widecard .area_actions, .cardbox .card .area_danger, .cardbox .card_danger .area_danger, .cardbox .widecard .area_danger {
  margin: 0.5rem;
  padding: 0.5rem;
  background-color: #67515A;
  border-radius: 0.5rem;
  text-align: center;
  color: #ffffff;
  font-size: 1.2rem;
  font-family: "Playfair Display SC", serif;
}
.cardbox .card .area_actions, .cardbox .card_danger .area_actions, .cardbox .widecard .area_actions, .cardbox .card .area_danger, .cardbox .card_danger .area_danger, .cardbox .widecard .area_danger {
  padding: 0px;
  background-color: #6E7DAB;
  color: #ffffff;
  font-size: 16px;
  font-family: "Playfair Display", serif;
}
.cardbox .card .area_actions a, .cardbox .card_danger .area_actions a, .cardbox .widecard .area_actions a, .cardbox .card .area_danger a, .cardbox .card_danger .area_danger a, .cardbox .widecard .area_danger a {
  color: #ffffff;
}
.cardbox .card .area_actions a:hover, .cardbox .card_danger .area_actions a:hover, .cardbox .widecard .area_actions a:hover, .cardbox .card .area_danger a:hover, .cardbox .card_danger .area_danger a:hover, .cardbox .widecard .area_danger a:hover {
  color: rgb(240, 113, 103);
}
.cardbox .card .area_danger, .cardbox .card_danger .area_danger, .cardbox .widecard .area_danger {
  background-color: rgb(240, 113, 103);
  color: #ffffff;
}
.cardbox .card .area_danger a:hover, .cardbox .card_danger .area_danger a:hover, .cardbox .widecard .area_danger a:hover {
  color: orange;
}
.cardbox .card .cardtext, .cardbox .card_danger .cardtext, .cardbox .widecard .cardtext, .cardbox .card .cardtable, .cardbox .card_danger .cardtable, .cardbox .widecard .cardtable, .cardbox .card .cardtable4, .cardbox .card_danger .cardtable4, .cardbox .widecard .cardtable4, .cardbox .card .cardtable3inversed, .cardbox .card_danger .cardtable3inversed, .cardbox .widecard .cardtable3inversed, .cardbox .card .cardtable3, .cardbox .card_danger .cardtable3, .cardbox .widecard .cardtable3, .cardbox .card .cardtable2shifted, .cardbox .card_danger .cardtable2shifted, .cardbox .widecard .cardtable2shifted, .cardbox .card .cardtable2, .cardbox .card_danger .cardtable2, .cardbox .widecard .cardtable2 {
  height: auto;
  width: 100%;
  border-radius: 0.5rem;
  padding: 1rem;
  text-align: left;
  overflow-wrap: anywhere;
}
.cardbox .card .cardtable, .cardbox .card_danger .cardtable, .cardbox .widecard .cardtable, .cardbox .card .cardtable4, .cardbox .card_danger .cardtable4, .cardbox .widecard .cardtable4, .cardbox .card .cardtable3inversed, .cardbox .card_danger .cardtable3inversed, .cardbox .widecard .cardtable3inversed, .cardbox .card .cardtable3, .cardbox .card_danger .cardtable3, .cardbox .widecard .cardtable3, .cardbox .card .cardtable2shifted, .cardbox .card_danger .cardtable2shifted, .cardbox .widecard .cardtable2shifted, .cardbox .card .cardtable2, .cardbox .card_danger .cardtable2, .cardbox .widecard .cardtable2 {
  display: grid;
  grid-template-columns: 1fr;
  text-align: center;
  justify-items: center;
  align-items: center;
  gap: 0.25rem 1rem;
}
.cardbox .card .cardtable .justr, .cardbox .card_danger .cardtable .justr, .cardbox .widecard .cardtable .justr, .cardbox .card .cardtable4 .justr, .cardbox .card_danger .cardtable4 .justr, .cardbox .widecard .cardtable4 .justr, .cardbox .card .cardtable3inversed .justr, .cardbox .card_danger .cardtable3inversed .justr, .cardbox .widecard .cardtable3inversed .justr, .cardbox .card .cardtable3 .justr, .cardbox .card_danger .cardtable3 .justr, .cardbox .widecard .cardtable3 .justr, .cardbox .card .cardtable2shifted .justr, .cardbox .card_danger .cardtable2shifted .justr, .cardbox .widecard .cardtable2shifted .justr, .cardbox .card .cardtable2 .justr, .cardbox .card_danger .cardtable2 .justr, .cardbox .widecard .cardtable2 .justr {
  justify-self: right;
  text-align: right;
}
.cardbox .card .cardtable .justl, .cardbox .card_danger .cardtable .justl, .cardbox .widecard .cardtable .justl, .cardbox .card .cardtable4 .justl, .cardbox .card_danger .cardtable4 .justl, .cardbox .widecard .cardtable4 .justl, .cardbox .card .cardtable3inversed .justl, .cardbox .card_danger .cardtable3inversed .justl, .cardbox .widecard .cardtable3inversed .justl, .cardbox .card .cardtable3 .justl, .cardbox .card_danger .cardtable3 .justl, .cardbox .widecard .cardtable3 .justl, .cardbox .card .cardtable2shifted .justl, .cardbox .card_danger .cardtable2shifted .justl, .cardbox .widecard .cardtable2shifted .justl, .cardbox .card .cardtable2 .justl, .cardbox .card_danger .cardtable2 .justl, .cardbox .widecard .cardtable2 .justl {
  justify-self: left;
  text-align: left;
}
.cardbox .card .cardtable2, .cardbox .card_danger .cardtable2, .cardbox .widecard .cardtable2 {
  grid-template-columns: 1fr 1fr;
}
.cardbox .card .cardtable2shifted, .cardbox .card_danger .cardtable2shifted, .cardbox .widecard .cardtable2shifted {
  grid-template-columns: 1fr 3fr;
}
.cardbox .card .form_reg_user, .cardbox .card_danger .form_reg_user, .cardbox .widecard .form_reg_user {
  text-align: center;
}
.cardbox .card .form_reg_user .helptext, .cardbox .card_danger .form_reg_user .helptext, .cardbox .widecard .form_reg_user .helptext {
  font-size: 0.8rem;
}
.cardbox .card .form_reg_user span, .cardbox .card_danger .form_reg_user span, .cardbox .widecard .form_reg_user span {
  font-size: 0.8rem;
}
.cardbox .card .form_reg_user ul, .cardbox .card_danger .form_reg_user ul, .cardbox .widecard .form_reg_user ul {
  font-size: 0.8rem;
}
.cardbox .card .cardtable3, .cardbox .card_danger .cardtable3, .cardbox .widecard .cardtable3 {
  grid-template-columns: 1fr 2fr 2fr;
}
.cardbox .card .cardtable3inversed, .cardbox .card_danger .cardtable3inversed, .cardbox .widecard .cardtable3inversed {
  grid-template-columns: 2fr 2fr 1fr;
}
.cardbox .card .cardtable4, .cardbox .card_danger .cardtable4, .cardbox .widecard .cardtable4 {
  grid-template-columns: 1fr 3fr 2fr 2fr;
}
.cardbox .widecard {
  width: 50rem;
  max-width: 60rem;
  height: auto;
}
.cardbox .card_danger {
  background-color: rgba(240, 113, 103, 0.5);
}
.cardbox .card_danger .cardtitle, .cardbox .card_danger .card .area_actions, .cardbox .card_danger .card_danger .area_actions, .cardbox .card .card_danger .area_actions, .cardbox .card_danger .card .area_danger, .cardbox .card_danger .card_danger .area_danger, .cardbox .card .card_danger .area_danger, .cardbox .card_danger .widecard .area_actions, .cardbox .widecard .card_danger .area_actions, .cardbox .card_danger .widecard .area_danger, .cardbox .widecard .card_danger .area_danger {
  background-color: #83130B;
  color: #ffffff;
}
.cardbox .card_danger .area_actions, .cardbox .card_danger .card .area_danger, .cardbox .card_danger .card_danger .area_danger, .cardbox .card .card_danger .area_danger, .cardbox .card_danger .widecard .area_danger, .cardbox .widecard .card_danger .area_danger {
  background-color: rgb(240, 113, 103);
  color: #ffffff;
}
.cardbox .card_danger .area_actions a:hover, .cardbox .card_danger .card .area_danger a:hover, .cardbox .card_danger .card_danger .area_danger a:hover, .cardbox .card .card_danger .area_danger a:hover, .cardbox .card_danger .widecard .area_danger a:hover, .cardbox .widecard .card_danger .area_danger a:hover {
  color: orange;
}

input[type=text] {
  padding: 0.25rem;
  margin: 0.1rem;
  border: 0px solid #392D32;
  border-radius: 0.25rem;
}

input[type=password] {
  padding: 0.25rem;
  margin: 0.1rem;
  border: 0px solid #392D32;
  border-radius: 0.25rem;
}

input[type=email] {
  padding: 0.25rem;
  margin: 0.1rem;
  border: 0px solid #392D32;
  border-radius: 0.25rem;
}

textarea {
  padding: 0.25rem;
  margin: 0.1rem;
  border: 0px solid #392D32;
  border-radius: 0.25rem;
}

.button, .dangerbtn, .dangerbtnicon {
  padding: 0.3rem;
  border-radius: 0.25rem;
  border: 0px;
  transition: 0.5s;
  overflow: hidden;
  background-color: #67515A;
  color: #ffffff;
}
.button:hover, .dangerbtn:hover, .dangerbtnicon:hover {
  background-color: #F0DFF6;
  color: #392D32;
}
.button:active, .dangerbtn:active, .dangerbtnicon:active {
  background-color: orange;
  color: #392D32;
}

.dangerbtn, .dangerbtnicon {
  background-color: rgb(240, 113, 103);
  color: #ffffff;
}
.dangerbtn:hover, .dangerbtnicon:hover {
  background-color: rgba(240, 113, 103, 0.5);
}
.dangerbtn:active, .dangerbtnicon:active {
  background-color: orange;
}

.dangerbtnicon {
  background-color: rgba(255, 255, 255, 0);
  border: solid 2px rgb(240, 113, 103);
  padding: 0px;
}

.smallicon {
  width: 1.6rem;
  height: 1.6rem;
  vertical-align: middle;
}

.errorlist {
  color: #83130B;
}

.flashmessages {
  position: fixed;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 3rem;
}
.flashmessages .message {
  max-width: 25rem;
  margin: 0.5rem;
  padding: 0.3rem 0.5rem;
  border-radius: 1rem;
  text-align: center;
}
.flashmessages .ifno {
  background-color: #6E7DAB;
  color: rgb(99, 173, 242);
}
.flashmessages .success {
  background-color: rgba(30, 174, 155, 0.5);
  color: rgb(12, 69, 63);
}
.flashmessages .error {
  background-color: rgba(240, 113, 103, 0.5);
  color: #83130B;
}/*# sourceMappingURL=style.css.map */