{% extends 'main.html' %}


{% block title %}

  <h1>Performances of {{chor.name}}</h1>

{% endblock title %}

{% block content %}

<div class="card">
  <div class="cardtitle">
    Actions
  </div>
  <div class="cardtext">
    Some action
  </div>
</div>
<div class="widecard">
  <div class="cardtitle">
    Past performances:
  </div>
  <div class="cardtable2">
    {% for performance in performances%}
    <div class="justr">{{performance.datetime|date:'Y-m-d'}}</div>
    <div class="justl">{{performance.song.name}}</div>
    {% endfor %}
  </div>
</div>

{% endblock content %}