{% extends 'main.html' %}


{% block title %}

  <h1>Songs of {{chor.name}}</h1>

{% endblock title %}

{% block content %}

<div class="card">
  <div class="cardtitle">
    Actions
  </div>
  <div class="cardtext">
    <a href="{% url 'create-song' %}">Create Song</a><br>
  </div>
</div>
<div class="widecard">
  <div class="cardtitle">
    List of songs:
  </div>
  <div class="cardtable3">
    <div class="firstcol">#</div><p>Name</p><p>Performances</p>
    {% for song in songs%}
    <div class="firstcol">{{song.id}}</div>
    <p><a href="{% url 'song' song.id %}">{{song.name}}</a></p>
    <p>{{song.numperformances}}</p>
    {% endfor %}
  </div>
</div>

{% endblock content %}