{% extends 'main.html' %} {% block title %}

<h1>{{chor.name}}</h1>

{% endblock title %} {% block content %}
<div class="card">
  <div class="cardtitle">About</div>
  <div class="cardtable2shifted">
    <div class="justr">Name:</div>
    <div class="justl">{{chor.name}}</div>
    <div class="justr">Description:</div>
    <div class="justl">{{chor.description}}</div>
  </div>
  {% if adminview %}
  <div class="area_actions">
    <div class="cardtable">
      <a href="{% url 'update-chor' chor.id %}">✏️ Edit info</a>
    </div>
  </div>
  {% endif %}
</div>
<div class="card">
  <div class="cardtitle">
    See:
  </div>
  <div class="area_actions">
    <div class="cardtable">
      <a href="{% url 'chor-songs' chor.id %}">🎵 Songs</a>
    </div>
  </div>
  <div class="area_actions">
    <div class="cardtable">
      <a href="{% url 'chor-performances' chor.id %}">✅ Performances</a>
    </div>
  </div>
  <div class="area_actions">
    <div class="cardtable">
      <a href="{% url 'chor-members' chor.id %}">👥 Chor members</a>
    </div>
  </div>
</div>

{% endblock content %}
