{% extends 'main.html' %} {% load static %} {% block title %}

<h1>Performances of {{chor.name}}</h1>

{% endblock title %} {% block content %}

<div class="widecard">
  <div class="cardtitle">Past performances:</div>
  {% if adminview %}
  <div class="area_actions">
    <div class="cardtext">
      <a href="{% url 'chor-songs' chor.id %}"
        >Choose a song and add a performance record</a
      >
    </div>
  </div>
  {% endif %}
  {% if performances %}
    {% if adminview %}<div class="cardtable3inversed">{% else %}<div class="cardtable2">{% endif %}
      {% for performance in performances%}
        {% if performance %}
          <div class="justr">
            {{performance.dtofperformance|date:'d.m.y, D'}}
          </div>
          <div class="justl">
            <a href="{% url 'song' performance.song.pk %}">
              {{performance.song.name}}
            </a>
          </div>
          {% if adminview %}
          <button
            class="dangerbtnicon"
            onclick="window.location.href='{% url 'delete-performance' performance.id %}'"
          >
            <img class="smallicon" src="{% static 'img/trash-svgrepo-com.svg' %}" />
          </button>
          {% endif %}
        {% else %}
          {% if adminview %}<p>&nbsp</p><p></p><p></p>{% else %}<p>&nbsp</p><p></p>{% endif %}
        {% endif %}
      {% endfor %}
    </div>
  {% else %}
    <div class="cardtable">
      <p>No information</p>
    </div>
  {% endif %}
</div>

{% endblock content %}
