{% extends 'main.html' %}  

{% block title %}

<h1>{{song.name}}</h1>

{% endblock title %}

{% block content %}

<div class="card">
  <div class="cardtitle">
    Song info
  </div>
  <div class="cardtable2">
    {% for key, value in attributes.items %}
    <div class="justr">{{key}}</div><div class="justl">{{value}}</div>
    {% endfor %}
  </div>
</div>

<div class="card">
  <div class="cardtitle">
    Actions
  </div>
  <div class="cardtable">
    <a href="{% url 'update-song' song.id %}">Edit song</a>
    <a href="{% url 'delete-song' song.id %}">Delete song</a>
  </div>
</div>

<div class="card">
  <div class="cardtitle">
    Performances
  </div>
  <div class="cardtable">
    {% for performance in performances %}
      <p>{{performance.datetime|date:'Y-m-d'}}</p>
    {% endfor %}
  </div>
</div>
{% endblock %}