{% extends 'main.html' %}  

{% block title %}

<h1>{{song.name}}</h1>

{% endblock title %}

{% block content %}

<div class="card">
  <div class="cardtitle">
    Song info
  </div>
  <div class="cardtable2">
    {% for key, value in attributes.items %}
    <div class="justr">{{key.capitalize}}:</div><div class="justl">{{value}}</div>
    {% endfor %}
  </div>
</div>

<div class="card">
  <div class="cardtitle">
    Actions
  </div>
  <div class="cardtable">
    <a href="{% url 'update-song' song.id %}">Edit song</a>
    <a href="{% url 'delete-song' song.id %}">Delete song</a>
    <a href="{% url 'create-performance' song.id %}">Add performance date</a>
  </div>
</div>

<div class="card">
  <div class="cardtitle">
    Performances
  </div>
  <div class="cardtable2">
    {% for performance in performances %}
      <div class="justr">{{performance.dtofperformance|date:'Y-m-d, D'}}</div>
      <div class="justl"><button class="button" onclick="window.location.href='{% url 'delete-performance' performance.id %}'">❌</button></div>
    {% endfor %}
  </div>
</div>
{% endblock %}