{% extends 'main.html' %} {% block title %}

<h1>WELCOME!</h1>

{% endblock title%}

{% block content %}
{% if rendermode == 'register' %}
  <div class="card">
    <form method="POST" action="">
      {% csrf_token %}
        <div class="cardtitle">Registration</div>
        <div class="form_reg_user">

          <label for="id_username">Username:</label>
          <div class="area_actions">
            <div class="cardtable helptext">
              <input type="text" name="username" maxlength="150" autofocus required id="id_username">
              150 characters or fewer. Letters, digits and @/./+/-/_ only.
            </div>
          </div>

          <label for="id_email">Email address:</label>
          <div class="area_actions">
            <div class="cardtable helptext">
              <input type="email" name="email" required id="id_email">
            </div>
          </div>

          <label for="id_password1">Password:</label>
          <div class="area_actions">
            <div class="cardtable helptext">
              <input type="password" name="password1" autocomplete="new-password" required id="id_password1">
              <li>Your password can’t be too similar to your other personal information.</li>
              <li>Your password must contain at least 8 characters.</li>
              <li>Your password can’t be a commonly used password.</li>
              <li>Your password can’t be entirely numeric.</li>
            </div>
          </div>

          <label for="id_password2">Password confirmation:</label>
          <div class="area_actions">
            <div class="cardtable helptext">
              <input type="password" name="password2" autocomplete="new-password" required id="id_password2">
              <p class="helptext">Enter the same password as before, for verification.</p>
            </div>
          </div>
        </div>
        <div class="cardtable">
          <input class="button" type="submit" value="Register" />
          <p>&nbsp;</p>
          <a href="{% url 'user-login' %}"><p>Already singed up?</p></a>
        </div>
    </form>
  </div>
{% else %}
  <div class="card">
    <div class="cardtitle">Authorization</div>
    <form method="POST" action="">
      {% csrf_token %}
        <div class="cardtable">
          <label>Username:</label>
          <input type="text" name="username" placeholder="Enter Username" />
          <label>Password:</label>
          <input type="password" name="password" placeholder="Enter Password" />
        </div>
        <div class="cardtable">
          <p></p>
          <input class="button" type="submit" value="Login" />
          <p>&nbsp;</p>
          <a href="{% url 'user-register' %}"><p>Haven't signed up?</p></a>
        </div>
    </form>
  </div>
{% endif %}

{% endblock content %}
