{% extends 'main.html' %} {% load static %} {% block title %}

<h1>{{song.name}}</h1>

{% endblock title %} {% block content %}

<div class="card">
  <div class="cardtitle">Song info</div>
  <div class="cardtable2">
    {% for key, value in attributes.items %}
    <div class="justr">{{key.capitalize}}:</div>
    <div class="justl">{{value}}</div>
    {% endfor %}
  </div>
  {% if adminview %}
  <div class="area_actions">
    <div class="cardtable">
      <a href="{% url 'update-song' song.id %}">✏️ Edit song</a>
    </div>
  </div>
  {% else %}
    <p>&nbsp;</p>
  {% endif %}
</div>

<div class="card">
  <div class="cardtitle">Performances</div>
  {% if performances %}
  {% if adminview %}<div class="cardtable2">{% else %}<div class="cardtable">{% endif %}
    {% for performance in performances %}
      {%if  adminview %}
      <div class="justr">{{performance.dtofperformance|date:'Y-m-d, D'}}</div>
      {% else %}
      <div>{{performance.dtofperformance|date:'Y-m-d, D'}}</div>
      {% endif %}
      {% if adminview %}
      <!-- <div class="justl"> -->
      <button
        class="dangerbtnicon justl"
        onclick="window.location.href='{% url 'delete-performance' performance.id %}'"
      >
        <img class="smallicon" src="{% static 'img/trash-svgrepo-com.svg' %}" />
      </button>
      {% endif %}
    {% endfor %}
  </div>
  {% else %}
  <div class="cardtable">
    <p>No information</p>
  </div>
  {% endif %}
  {% if adminview %}
  <div class="area_actions">
    <div class="cardtable">
      <a href="{% url 'create-performance' song.id %}">Add performance date</a>
    </div>
  </div>
  {% else %}
    <p>&nbsp;</p>
  {% endif %}
</div>
{% endblock %}
