{% extends 'main.html' %} {% block title %} {% if ownerview %}
<h1>Hello, {{user.username}}!</h1>
{% else %}
<h1>Page of user<br />{{user.username}}</h1>
{% endif %} {% endblock title %} {% block content %}
<div class="card">
  <div class="cardtitle">My "Chors"</div>
  <div class="cardtable">
    {% if chors %} {% for chor in chors %}
    <a href="{% url 'chor-homepage' chor.id %}">{{chor.name}}</a>
    {% endfor %} {% else %} {% if ownerview %}
    <p>You are not participating in any "Chor"!</p>
    {% else %}
    <p>This user is not a part of any "Chor"</p>
    {% endif %} {% endif %}
  </div>
  {% if ownerview %}
  <div class="area_actions">
    <div class="cardtable">
      <a href="{% url 'create-chor' %}">Create a "Chor"</a>
      <p>Find a "Chor" to join</p>
    </div>
  </div>
  {% endif %}
</div>
<div class="card">
  <div class="cardtitle">Recent activity</div>
</div>
<div class="card">
  <div class="cardtitle">About</div>
  <div class="cardtable2">
    {% for key, value in usr_attribs.items %}
    <div class="justr">{{key}}</div>
    <div class="justl">{{value}}</div>
    {% endfor %}
  </div>
  <div class="area_actions">
    <div class="cardtable">
      {% if ownerview %}
      <a href="{% url 'user-edit' %}">✏️ Edit my profile</a>
      {% else %}
      <p>Send invitation to "Chor"</p>
      {% endif %}
    </div>
  </div>
</div>
{% endblock content %}
