{% extends 'main.html' %}


{% block title %}

  <h1>Hello, {{user.username}}!</h1>

{% endblock title %}

{% block content %}
<div class="card">
  <div class="cardtitle">
    About
  </div>

</div>
<div class="card">
  <div class="cardtitle">
    My "Chors"
  </div>
  <div class="cardtable">
    {% for chor in chors %}
      <a href="{% url 'chor-homepage' chor.id %}">{{chor.name}}</a>
    {% endfor %}
  </div>

</div>
<div class="card">
  <div class="cardtitle">
    Past Activity
  </div>

</div>
<div class="card">
  <div class="cardtitle">
    Upcoming Activity
  </div>

</div>

{% endblock content %}