{% extends 'main.html' %}

{% block title %}

{% if ownerview %}
  <h1>Hello, {{user.username}}!</h1>
{% else %}
  <h1>This is <br />{{user.username}}</h1>
{% endif %}

{% endblock title %}

{% block content %}

{% if ownerview %}
  <div class="card">
    <div class="cardtitle">My Chors</div>
    <div class="cardtable2shifted">
      {% if chors %}
        {% for chor in chors %}
          <div class="justr">{{forloop.counter}}</div>
          <a class="justl" href="{% url 'chor-homepage' chor.id %}">{{chor.name}}</a>
        {% endfor %}
      {% else %}
        <p>You are not participating in any Chor!</p>
      {% endif %}
    </div>
    <div class="area_actions">
      <div class="cardtable">
        <a href="{% url 'create-chor' %}">Create a Chor</a>
        <p>Join a Chor</p>
      </div>
    </div>
  </div>
  <div class="card">
    <div class="cardtitle">About</div>
    <div class="cardtable2">
      {% for key, value in usr_attribs.items %}
      <div class="justr">{{key}}</div>
      <div class="justl">{{value}}</div>
      {% endfor %}
    </div>
    <div class="area_actions">
      <div class="cardtable">
        <a href="{% url 'user-edit' %}">✏️ Edit my profile</a>
      </div>
    </div>
  </div>
{% else %}
  <div class="card">
    <div class="cardtitle">{{user.username}}'s Chors</div>
    <div class="cardtable">
      {% if chors %}
        {% for chor in chors %}
          <a href="{% url 'chor-homepage' chor.id %}">{{chor.name}}</a>
        {% endfor %}
      {% else %}
          <p>This user is not a part of any Chor</p>
      {% endif %}
    </div>
  </div>
  <div class="card">
    <div class="cardtitle">About</div>
    <div class="cardtable2">
      {% for key, value in usr_attribs.items %}
      <div class="justr">{{key}}</div>
      <div class="justl">{{value}}</div>
      {% endfor %}
    </div>
  </div>
{% endif %}

{% endblock content %}